@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../src/styles/image/background.jpg");
  background-position: center;
  background-size: cover;
  
}

.view {
  font-size: 2rem;
  margin: 1.5rem;
  padding: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}
